body{
    font-family: 'Roboto Condensed', sans-serif;
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
}
*{
    padding: 0px;
    margin: 0px;
}


.nav1{
    background-color: #f8f9fa;

}
.navbar{
    padding:0px;
    background-color: red !important;


    width:100% !important;
    
}
.navbar-nav li{
    z-index:1 ;
    
}
.navbar-nav li a{
    font-size:17px;
    padding :15px!important;
    color:white !important;
   

}
.navbar-nav li a:hover{
    /* border-right:3px solid white;
    border-left:3px solid white; */
    background-color: white !important;
    color: red !important;
    transition: 0.5s all
}
.navbar-light .navbar-nav .nav-link{
    color:#000;
}
@media (max-width:1200px)
{
    .navbar-nav li{
        font-size: 15px;
    };
}
@media (max-width:992px)
{
    .navbar-toggler{
        margin: 10px 10px 10px 30px;
        background-color: #fff;
        
      
    }
    .navbar-toggler:hover,  .navbar-toggler:focus{
        background-color: #fff;
        border-color:black !important;
        outline: none;
        
    };
    .navbar-light{
        background-color:rgba(0, 0,0, 0.6) !important;
    }
    .navbar-nav li a{
      text-align: center;
      background-color:transparent;
      color:white !important;
    }
    .navbar-nav li a:hover{
        background-color:rgba(0, 0,0, 0.6);
      }

}
.read:hover, .read:focus{
    background-color: black !important;
    color: white;
    transition: 0.5s all !important;
    /* border:3px solid red !important; */
}

.bd-example{
    height:200px;
    width: 30%;
}
/*services */

#team {
    background: #eee !important;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color:red;
    border-color: red;
    box-shadow: none;
    outline: none;
}

.btn-primary {
    color: #fff;
    background-color: red;
    border-color: red;
}

.bg-img{
    background-image: linear-gradient(90deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 35%, rgba(0,0,0,0.5) 100%),url("home.jpg");
    background-size: 100%  100%;
    background-attachment: fixed;
    height:400px;
}

.form-control {
    color: white !important;
}
.form-check-input{
    color: white !important;    
}


#email::placeholder{
    color: white !important;
}
#pwd::placeholder{
    color: white !important;
}
.onlineservices{
    text-align:center;
    background-color: red;
    color: white;
    height: 100px;
    width:100%;
    padding: 25px;
    font-size: 25px;
}
.onlineservices1{
    text-align:center;
    background-color: red;
    color: white;
    height: 100px;
    width:100%;
    padding: 25px;
    font-size: 25px;
}
@media(max-width:990px){
    .onlineservices1{
        text-align:center;
        background-color: red;
        color: white;
        height: 200px;
        width:100%;
        padding: 5px;
        font-size: 25px !important;
    }
    .onlineservices1 h1{
        font-size: 25px;
    }
    .onlineservices1 button{
       margin-top: 20px !important;
    }
}
@media(max-width:850px){
    .onlineservices{
        text-align:center;
        background-color: red;
        color: white;
        height: 150px;
        width:100%;
        padding: 5px;
        font-size: 25px !important;
    }
    .onlineservices h1{
        font-size: 25px;
    }
}

::placeholder{
    padding: 10px;
}
#sicon{
    background-color: black;
    color:white;
    position: fixed;
     bottom: 15px;
     right: 15px;
     padding: 2px;
     height: 50px;
     width: 50px;
     
     text-align: center;
     cursor: pointer;
     border-radius:50%;
     z-index: 200000;
     display: none;
     transform: rotate(90deg);
     font-size: 30px;
}
#navbar{
    /* display:none !important; */
}
#contact-header{
    /* display:none !important; */
}
